@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat';
}

.main {
    height: 100vh;
    background: url(src/background2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 30px;
}

.main__form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.main__title{
    font-weight: 800;
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px 10px #000000;
    text-align: center;
}

.main__subtitle{
    font-weight: 700;
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 10px #000000;
    text-align: center;
}

.main__form > label{
    font-weight: 600;
    font-size: 25px;
    color: white;
    text-shadow: 4px 4px 10px #000000;
    text-align: center;
}

.main__input__text{
    border-radius: 5px;
    padding: 10px 30px;
    border: 1px solid #dbdbdb;
}

.main__input__button{
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}


@media(max-width:925px){
    .main__title{
        font-size: 30px;
    }

    .main__subtitle{
        font-size: 25px;
    }
}
